<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SomeObject</key>
	<string>SomeObject</string>
	<key>ModuleONE</key>
	<string>ModuleONE</string>
	<key>ModuleTwo</key>
	<string>ModuleTwo</string>
</dict>
</plist>
